
[Unit]
Wants=slimta-docker-watch-certs.path
Wants=slimta-docker-check-certs.timer

[Service]
ExecStartPre=docker-compose down
ExecStartPre=docker-compose up -d
ExecStart=docker-compose logs -f
ExecStop=docker-compose down
WorkingDirectory={{DIR}}

[Install]
WantedBy=multi-user.target
